[user]
	name = Shaun Jurgemeyer
	email = Shaun.Jurgemeyer@target.com
[core]
	excludesfile = ~/.gitignore_global
	;pager = diff-so-fancy | less --tabs=4 -RFX
    pager = delta
[delta]
    syntax-theme = TwoDark
    side-by-side = true
    hunk-header-decoration-style = "#666666" ol ul
    line-numbers = true
    line-numbers-right-format = "{np:>4} "
    line-numbers-left-format = "{nm:>4} "
[difftool]
    prompt = false
[difftool "sourcetree"]
	cmd = mvimdiff \"$LOCAL\" \"$REMOTE\"
	path =
[difftool "vim"]
    cmd = vim -df \"$LOCAL\" \"$REMOTE\"
    mvim
[mergetool "mvim"]
    cmd = mvim -df $BASE $LOCAL $MERGED $REMOTE -c \"wincmd J\"
    mvim
[mergetool "splice"]
    cmd = "vim --cmd 'let g:nofugitive=1' -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[merge]
	tool = splice
[diff]
    tool = vim
    ;colorMoved = default
[alias]
    # Log display from screencast, with train tracks.
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    changes = log --pretty=format:'%C(bold blue)%an%Creset %Cred%h%Creset %C(yellow)%s'
    changelog = log --pretty=format:'%C(yellow)%s'
    pop = stash pop
    pr = pull --rebase
    cp = cherry-pick
    b = checkout -b
    pum = pull upstream main
	prum = pull --rebase upstream main
    amend = commit --amend
    aa = commit -a --amend
    d = branch -D
    co = checkout
	com = checkout main
	cm = commit -m
	cf = commit --fixup
	cauto = commit --automerge
    tc = commit -a -m \"Temp commit\"
[hub]
	protocol = https
	host = git.target.com
[push]
	default = current
#[remote "upstream"]
#	receivepack = /bin/false
[credential]
	helper = osxkeychain
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[gpg]
	program = gpg
[commit]
	gpgsign = false
