[submodule "dependencies/vim-ororo"]
	path = dependencies/vim-ororo
	url = https://github.com/sjurgemeyer/vim-ororo.git
[submodule "dependencies/tpr"]
	path = dependencies/tpr
	url = https://github.com/ric03uec/tpr.git
