[user]
	name = Shaun Jurgemeyer
	email = sjurgemeyer@gmail.com
[core]
	excludesfile = /Users/sjurgemeyer/.gitignore_global
[difftool]
    prompt = false
[difftool "sourcetree"]
	cmd = mvimdiff \"$LOCAL\" \"$REMOTE\"
	path = 
[difftool "mvim"]
    cmd = mvim -df \"$LOCAL\" \"$REMOTE\"
    mvim
[mergetool "mvim"]
    cmd = mvim -df $BASE $LOCAL $MERGED $REMOTE -c \"wincmd J\"
    mvim
[mergetool "splice"]
    cmd = "mvim -u ~/.vimrc-core -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[merge]
	tool = splice
[diff]
    tool = mvim
[alias]
    # Log display from screencast, with train tracks.
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    pop = stash pop
    pr = pull --rebase
    b = checkout -b
    pud = pull upstream develop
    amend = commit --amend
    aa = commit -a --amend
    d = branch -D
    co = checkout
[hub]
	protocol = https
