always-auth=true
email=sjurgemeye@chewy.com
registry=https://chewyinc.jfrog.io/chewyinc/api/npm/npm
strict-ssl=false
cafile=/Users/sjurgemeye/projects/chewy-tech-standards/null
_auth=AKCp8kqzyradz1S7ZbmoRzogcquvaAu42E6J9yCZgsNoNe6WfkwHgEjpf8PqAat6iCDzQVuh6
