always-auth=true
email=sjurgemeye@chewy.com
registry=https://chewyinc.jfrog.io/chewyinc/api/npm/npm
//chewyinc.jfrog.io/chewyinc/api/npm/:username=sjurgemeye@chewy.com
//chewyinc.jfrog.io/chewyinc/api/npm/:_password="QUtDcDhrcXp5cmFkejFTN1pibW9Sem9nY3F1dmFBdTQyRTZKOXlDWmdzTm9OZTZXZmt3SGdFanBmOFBxQWF0NmlDRHpRVnVoNg=="
strict-ssl=false
cafile=/Users/sjurgemeye/projects/chewy-tech-standards/null
