snippet cl
package `!v GetCurrentPackageFromPath()`

class ${2:`!v vim_snippets#Filename()`} {
	${3}
}
endsnippet


snippet dc
package `!v GetCurrentPackageFromPath()`

data class `!v vim_snippets#Filename()`(val ${3}) {

}
endsnippet
