<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.valrus.screenshot.simple</string>
	<key>connections</key>
	<dict>
		<key>19CA87D1-CFC7-4289-9173-14707BFB2CFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36E67358-149D-40A8-B851-9669CC259F5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27CEB4B8-BA8D-48B1-B591-5AAC36A5AA3C</key>
		<array/>
		<key>36E67358-149D-40A8-B851-9669CC259F5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB03A3B7-F396-4867-A925-2C501F868490</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76621C58-3B56-4F6E-9D2E-C3C972E9FE8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>19CA87D1-CFC7-4289-9173-14707BFB2CFD</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Select a rectangle</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F115B814-099A-49C4-BA11-0E35CB6ECD66</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Select a window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E933D31-30BD-4A71-A2BC-5B6B9EC48951</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19CA87D1-CFC7-4289-9173-14707BFB2CFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>709B2364-EED2-4D94-AB94-65CCFFA9B5BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71888AFC-95CB-4BEE-8458-158140AA8644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E933D31-30BD-4A71-A2BC-5B6B9EC48951</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Select a rectangle</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBBC03A6-8102-4415-BFB9-213FC83DFCD8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Select a window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71888AFC-95CB-4BEE-8458-158140AA8644</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76621C58-3B56-4F6E-9D2E-C3C972E9FE8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76621C58-3B56-4F6E-9D2E-C3C972E9FE8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36E67358-149D-40A8-B851-9669CC259F5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBBC03A6-8102-4415-BFB9-213FC83DFCD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F115B814-099A-49C4-BA11-0E35CB6ECD66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F115B814-099A-49C4-BA11-0E35CB6ECD66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36E67358-149D-40A8-B851-9669CC259F5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB03A3B7-F396-4867-A925-2C501F868490</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27CEB4B8-BA8D-48B1-B591-5AAC36A5AA3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ian McCowan</string>
	<key>description</key>
	<string>Take screenshots.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Simple Screenshots</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>SCREENSHOT_ARGS</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>76621C58-3B56-4F6E-9D2E-C3C972E9FE8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>subtext</key>
				<string>Capture the whole screen</string>
				<key>text</key>
				<string>Save a screenshot file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Screenshot</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>27CEB4B8-BA8D-48B1-B591-5AAC36A5AA3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/mkdir -p "${SCREENSHOT_DIR}"
filename="${1:-$DEFAULT_NAME}"
filename="${filename/:/.}.${SCREENSHOT_FORMAT}"
filepath="${SCREENSHOT_DIR}/${filename}"
cd "${SCREENSHOT_DIR}"
/usr/sbin/screencapture ${SCREENSHOT_CLIPBOARD_ARGS} ${SCREENSHOT_ARGS} -t${SCREENSHOT_FORMAT} "$filename"

if [ -z "${SCREENSHOT_CLIPBOARD_ARGS}" ]; then
	echo "File: " "$filepath"
else
	echo "Copied to clipboard"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FB03A3B7-F396-4867-A925-2C501F868490</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>SCREENSHOT_ARGS</key>
					<string>-i -s</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>19CA87D1-CFC7-4289-9173-14707BFB2CFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>DEFAULT_NAME</key>
					<string>Screen Shot {date} at {time}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>36E67358-149D-40A8-B851-9669CC259F5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>SCREENSHOT_ARGS</key>
					<string>-i -w</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F115B814-099A-49C4-BA11-0E35CB6ECD66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>SCREENSHOT_CLIPBOARD_ARGS</key>
					<string>-c</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>71888AFC-95CB-4BEE-8458-158140AA8644</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ssc</string>
				<key>subtext</key>
				<string>Capture the whole screen</string>
				<key>text</key>
				<string>Copy a screenshot</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>709B2364-EED2-4D94-AB94-65CCFFA9B5BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>SCREENSHOT_CLIPBOARD_ARGS</key>
					<string>-c</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3E933D31-30BD-4A71-A2BC-5B6B9EC48951</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>SCREENSHOT_CLIPBOARD_ARGS</key>
					<string>-c</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BBBC03A6-8102-4415-BFB9-213FC83DFCD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>19CA87D1-CFC7-4289-9173-14707BFB2CFD</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>27CEB4B8-BA8D-48B1-B591-5AAC36A5AA3C</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>36E67358-149D-40A8-B851-9669CC259F5F</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>3E933D31-30BD-4A71-A2BC-5B6B9EC48951</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>709B2364-EED2-4D94-AB94-65CCFFA9B5BA</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>71888AFC-95CB-4BEE-8458-158140AA8644</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>76621C58-3B56-4F6E-9D2E-C3C972E9FE8D</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>BBBC03A6-8102-4415-BFB9-213FC83DFCD8</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>F115B814-099A-49C4-BA11-0E35CB6ECD66</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>FB03A3B7-F396-4867-A925-2C501F868490</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SCREENSHOT_DIR</key>
		<string>/Users/valrus/Pictures/Screenshots</string>
		<key>SCREENSHOT_FORMAT</key>
		<string>jpg</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
